Repository Oichkatzelesfrettschen/exov6: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy-c23, clang-tidy-cpp23, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.0
    hooks:
      - id: clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-tidy
    rev: v16.0.0
    hooks:
      - id: clang-tidy
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: clang-tidy-c23
        name: clang-tidy (C23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy
        language: system
        pass_filenames: true
        files: \.(c|h)$
      - id: clang-tidy-cpp23
        name: clang-tidy (C++23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy-cpp23
        language: system
        pass_filenames: true
        files: \.(cpp|cxx|cc|c\+\+|hpp|hxx|hh)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
      - id: black
        name: black
        entry: black --check --diff
        language: python
        additional_dependencies: [black==25.1.0]
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer

remove duplicate proto files
  proto/driver 2.capnp
  proto/driver.capnp
  proto/example 2.y
  proto/example.y
  proto/hello 2.capnp
Due: none

build: merge meson scripts
  meson 2.build
  meson.build
Due: none

docs: merge contribution instructions
  AGENTS 2.md
  AGENTS.md
Due: none

Update build configs and tests for C23
  .github/dependabot 2.yml
  .github/dependabot.yml
  .vscode/launch 2.json
  .vscode/launch.json
  .vscode/settings 2.json
  .vscode/settings.json
  README
  demos/test_posix_extra.py
  engine/user/demos-tests/test_posix_extra.py
  meson.build
  tests/microbench/Makefile
  tests/test_arbitrate.py
  tests/test_cap_entry_cpp.py
  tests/test_cap_newtypes.py
  tests/test_cap_revoke.py
  tests/test_cap_types.py
  tests/test_chan_endpoint.py
  tests/test_door.py
  tests/test_exo_ipc_direct.py
  tests/test_exo_recv_timed.py
  tests/test_iommu.py
  tests/test_irq.py
  tests/test_libos_env.py
  tests/test_locks.py
  tests/test_lockstress.py
  tests/test_mailbox_isolation.py
  tests/test_posix_apis.py
  tests/test_posix_compat.py
  tests/test_ptrace_concurrent.py
  tests/test_spinlock_align.py
  tests/test_sys_ipc.py
  tests/test_ticket_spinlock_processes.py
  tests/test_ticket_spinlock_threads.py
  tests/test_uv_spinlock_processes.py
  tests/test_uv_spinlock_threads.py
  tests/test_zone.py
Due: black

Add C23 RCU fastpath implementation
  Makefile
  include/defs.h
  kernel/rcu_fastpath.c
Due: clang-tidy-c23

Add lattice IPC interface
  docs/sphinx/source/index.rst
  docs/sphinx/source/lattice_ipc.rst
  include/lattice_ipc.h
  kernel/lattice_ipc.c
Due: clang-tidy-c23

docs: update AGENTS checks
  AGENTS.md
Due: none

Implement octonion operations
  include/octonion.h
  tests/test_octonion.py
Due: clang-tidy-c23, black

Add quaternion spinlock and protect lattice channel
  docs/sphinx/source/lattice_ipc.rst
  include/lattice_ipc.h
  kernel/lattice_ipc.c
  kernel/quaternion_spinlock.h
Due: clang-tidy-c23

Improve offline package handling
  README
  setup.sh
Due: none

docs: remove doxygen index to avoid duplicates
  docs/sphinx/source/index.rst
Due: none

Add cycle detection to DAG scheduler
  dag.h
  defs.h
  docs/sphinx/source/usage.rst
  include/dag.h
  kernel/dag.h
  kernel/dag_sched.c
  kernel/defs.h
  tests/test_dag_cycle.py
Due: clang-tidy-c23, black

kernel: add kyber key exchange and encryption
  docs/sphinx/source/lattice_ipc.rst
  kernel/lattice_ipc.c
Due: clang-tidy-c23

Extend door API with async operations
  docs/sphinx/source/door_ipc.rst
  docs/sphinx/source/index.rst
  include/door.h
  setup.sh
  user/door.c
Due: clang-tidy-c23

Add lattice IPC tests and fix setup
  CONTRIBUTING.md
  setup.sh
  tests/__init__.py
  tests/microbench/__init__.py
  tests/test_lattice_ipc.py
  tests/x_test_arbitrate.py
  tests/x_test_cap_revoke.py
  tests/x_test_simulate.py
Due: black

Add Kyber-style key exchange and update docs
  docs/sphinx/source/lattice_ipc.rst
  kernel/lattice_ipc.c
Due: clang-tidy-c23

Document door IPC
  docs/sphinx/source/door_ipc.rst
  include/door.h
  user/door.c
Due: clang-tidy-c23

docs: fix lattice_ipc formatting
  docs/sphinx/source/lattice_ipc.rst
Due: none

Add cycle detection to Beatty DAG scheduler
  docs/sphinx/source/usage.rst
  kernel/beatty_sched.c
  tests/test_beatty_cycle.py
Due: clang-tidy-c23, black

Protect lattice IPC with spinlock
  docs/sphinx/source/lattice_ipc.rst
  include/lattice_ipc.h
  kernel/lattice_ipc.c
Due: clang-tidy-c23

search offline packages before apt
  README
  setup.sh
Due: none

add stub arbitration tests and document pytest
  CONTRIBUTING.md
  tests/test_arbitrate.py
  tests/test_cap_revoke.py
  tests/test_lattice_ipc.py
  tests/test_simulate.py
  tests/x_test_arbitrate.py
  tests/x_test_cap_revoke.py
Due: black

Fix lattice IPC docs formatting
  docs/sphinx/source/lattice_ipc.rst
Due: none

document quaternion locking and clean headers
  docs/sphinx/source/lattice_ipc.rst
  include/exo_ipc.h
  include/exo_mem.h
  setup.sh
Due: clang-tidy-c23

Fix Atomic doc markup
  docs/sphinx/source/lattice_ipc.rst
Due: none

Fix spinlock header and lattice IPC
  docs/sphinx/source/lattice_ipc.rst
  include/spinlock.h
  kernel/lattice_ipc.c
  kernel/syscall.h
  types.h
Due: clang-tidy-c23

Add octonion capability support
  include/lattice_ipc.h
  include/lattice_types.h
  include/octonion.h
  kernel/lattice_ipc.c
  kernel/octonion.c
Due: clang-tidy-c23

kernel: enable lattice yield in DAG scheduler
  docs/sphinx/source/lattice_ipc.rst
  include/dag.h
  kernel/cap_table.c
  kernel/dag.h
  kernel/dag_sched.c
Due: clang-tidy-c23

fix REPO_ROOT resolution
  setup.sh
Due: none

docs: include kernel in doxygen
  docs/Doxyfile
Due: none

Add Doxygen comments
  kernel/cap.c
  kernel/proc.c
  libos/capnp_helpers.c
Due: clang-tidy-c23

Refine DAG cycle checks and rename verification
  docs/sphinx/source/index.rst
  docs/sphinx/source/lattice_ipc.rst
  docs/sphinx/source/scheduler.rst
  include/dag.h
  include/lattice_ipc.h
  kernel/beatty_sched.c
  kernel/cap_table.c
  kernel/crypto.c
  kernel/dag.h
  kernel/dag_sched.c
  kernel/lattice_ipc.c
  tests/test_lattice_channel_dag.py
Due: clang-tidy-c23, black

Add post-quantum helpers and doc updates
  docs/sphinx/source/lattice_ipc.rst
  docs/sphinx/source/scheduler.rst
  include/libos/crypto.h
  kernel/crypto.c
Due: clang-tidy-c23

Improve setup.sh path handling
  Makefile
  setup.sh
Due: none

Add PQ key init step and document
  docs/sphinx/source/lattice_ipc.rst
  include/lattice_ipc.h
  include/lattice_types.h
  kernel/lattice_ipc.c
  setup.sh
Due: clang-tidy-c23

Add cycle checks and yielding API
  docs/sphinx/source/scheduler.rst
  include/dag.h
  kernel/dag.h
  kernel/dag_sched.c
  setup.sh
Due: clang-tidy-c23

use pqcrypto for kyber exchange
  docs/sphinx/source/lattice_ipc.rst
  kernel/lattice_ipc.c
  types.h
Due: clang-tidy-c23

Update kernel/lattice_ipc.c
  kernel/lattice_ipc.c
Due: clang-tidy-c23

Add service management framework
  CMakeLists.txt
  docs/sphinx/source/index.rst
  docs/sphinx/source/service_management.rst
  include/exokernel.h
  include/service.h
  kernel/defs.h
  kernel/proc.c
  kernel/service.c
  kernel/syscall.c
  kernel/syscall.h
  kernel/sysproc.c
  libos/service.c
  meson.build
  setup.sh
  user.h
  usys.S
Due: clang-tidy-c23
