Repository Oichkatzelesfrettschen/exov6: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy-c23, clang-tidy-cpp23, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.0
    hooks:
      - id: clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-tidy
    rev: v16.0.0
    hooks:
      - id: clang-tidy
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: clang-tidy-c23
        name: clang-tidy (C23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy
        language: system
        pass_filenames: true
        files: \.(c|h)$
      - id: clang-tidy-cpp23
        name: clang-tidy (C++23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy-cpp23
        language: system
        pass_filenames: true
        files: \.(cpp|cxx|cc|c\+\+|hpp|hxx|hh)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
      - id: black
        name: black
        entry: black --check --diff
        language: python
        additional_dependencies: [black==25.1.0]
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer

Fix critical build issues: resolve API conflicts and header organization
  include/caplib.h
  include/exo.h
  include/exokernel.h
  kernel/defs.h
  kernel/exo_impl.c
  kernel/fs/fs.c
  kernel/hypervisor/hypervisor.c
  kernel/ipc/capnp_lattice_engine.c
  kernel/ipc/exo_disk.c
  kernel/ipc/exo_ipc_queue.c
  kernel/irq.c
  kernel/libfs.h
Due: clang-tidy-c23

Add comprehensive modern OS synthesis document
  EXOV6_MODERN_OS_SYNTHESIS.md
Due: none

🚀 KERNEL BUILD COMPLETE - ExoV6 Successfully Links to ELF64 Binary!
  kernel/CMakeLists.txt
  kernel/asm_stubs.c
  kernel/hal_stub.c
  kernel/kernel_stubs.c
  kernel/string.c
Due: clang-tidy-c23

Add comprehensive session success summary document
  SESSION_SUCCESS_SUMMARY.md
Due: none

Fix all code quality issues - achieve TRUE zero warnings with -Werror
  EXOV6_C17_QUALITY_IMPROVEMENTS.md
  kernel/CMakeLists.txt
  kernel/capability/capability_lattice.c
  kernel/core/secure_multiplex.c
  kernel/drivers/console.c
  kernel/drivers/ioapic.c
  kernel/drivers/memide.c
  kernel/drivers/uart.c
  kernel/exo_impl.c
  kernel/file.h
  kernel/fs/fs.c
  kernel/fs/ide.c
  kernel/fs/log.c
  kernel/ipc/capnp_lattice_engine.c
  kernel/ipc/exo_disk.c
  kernel/ipc/lattice_kernel.c
  kernel/ipc/sys_ipc.c
  kernel/ipc/unified_ipc.c
  kernel/irq.c
  kernel/kernel_stub.c
  kernel/kmath.c
  kernel/lambda_cap.c
  kernel/mem/vm.c
  kernel/memutil.c
  kernel/q16_fixed.c
  kernel/q16_octonion.c
  kernel/sched/dag_sched.c
  kernel/sched/proc.c
  kernel/sync/adaptive_mutex.c
  kernel/sync/dag.c
  kernel/sync/lwkt_token.c
  kernel/sync/qspinlock.c
  kernel/sync/sleeplock.c
  kernel/sync/turnstile.c
  kernel/sys/posix_traps.c
  kernel/sys/syscall.c
  kernel/sys/syscall_minimal.c
  kernel/sys/sysfile.c
  kernel/sys/sysproc.c
  kernel/time/posix_clock.h
Due: clang-tidy-c23

Fix userspace build errors and complete warning elimination
  demos/msgqueue_demo.c
  include/user.h
  kernel/CMakeLists.txt
  kernel/drivers/memide.c
  kernel/ipc/cap_mem.c
  kernel/ipc/capnp_lattice_engine.c
  kernel/ipc/endpoint.c
  kernel/mem/vm.c
  kernel/mmu.h
  kernel/sched/beatty_sched.c
  kernel/sys/sysproc.c
  tests/c17/CMakeLists.txt
  user/caplib.c
  user/kill.c
  user/umalloc.c
  user/usertests.c
Due: clang-tidy-c23

Add comprehensive mathematical abstractions audit report
  MATHEMATICAL_ABSTRACTIONS_AUDIT.md
Due: none

Implement PDAC Phase 1: 8D Resource Vectors using Octonion Algebra
  PDAC_UNIFIED_FRAMEWORK.md
  include/resource_vector.h
  kernel/resource_vector.c
Due: clang-tidy-c23

Implement PDAC Phase 1.3: DAG path composition with deadlock detection
  include/dag_pdac.h
  include/resource_vector.h
  kernel/dag_pdac.c
  kernel/defs.h
Due: clang-tidy-c23

Add granular implementation plan for PDAC Phase 2
  PDAC_PHASE2_PLAN.md
Due: none

Implement Task 2.1.1: Define capability_v2 core structure
  include/capability_v2.h
  kernel/dag_pdac.c
Due: clang-tidy-c23

Complete Tasks 2.1.2 & 2.1.3: Capability table API and type system
  include/capability_v2.h
Due: clang-tidy-c23

Complete PDAC Phase 2 Core Implementation (Tasks 2.2-2.5)
  archive/CMakeLists_modern.txt
  archive/CMakeLists_reorganized.txt
  archive/CMakeLists_test.txt
  archive/audits/AUDIT_ACTIONABLE_FINDINGS.txt
  archive/audits/AUDIT_FINDINGS_TABLE.txt
  archive/audits/AUDIT_README.txt
  archive/audits/AUDIT_SUMMARY.txt
  archive/audits/REPOSITORY_AUDIT_2025-11-19.txt
  archive/docs_old/BUILD_PROGRESS_SESSION3.md
  archive/docs_old/BUILD_STATUS_x86_64.md
  archive/docs_old/LOCK_MIGRATION_INVENTORY.txt
  archive/docs_old/README_old_backup.md
  archive/docs_old/SESSION_SUCCESS_SUMMARY.md
  archive/docs_old/test_file.txt
  docs/DOCUMENTATION.md
  docs/EXOV6_C17_QUALITY_IMPROVEMENTS.md
  docs/EXOV6_MODERN_OS_SYNTHESIS.md
  docs/MATHEMATICAL_ABSTRACTIONS_AUDIT.md
  docs/MODERNIZATION_ROADMAP.md
  docs/PDAC_PHASE2_PLAN.md
  docs/PDAC_UNIFIED_FRAMEWORK.md
  include/cap_formula.h
  include/cap_ipc.h
  kernel/cap_formula.c
  kernel/cap_ipc.c
  kernel/capability_v2.c
  kernel/token_bucket.c
  run_posix_tests.sh
  scripts/COMPLETE_BUILD_AND_TEST.sh
  scripts/build.sh
  scripts/build_all.sh
  scripts/git_push_posix.sh
  scripts/qemu-aarch64.sh
  scripts/run_posix_tests.sh
  scripts/setup.sh
  scripts/test_ci_pipeline.sh
  scripts/test_everything.sh
  scripts/test_security_audit.py
Due: clang-tidy-c23, black

Complete PDAC Phase 2.6: Testing & Documentation
  docs/CAPABILITY_SYSTEM_TUTORIAL.md
  docs/PDAC_UNIFIED_FRAMEWORK.md
  kernel/test_cap_formula.c
  kernel/test_capability_v2.c
  kernel/test_token_bucket_and_ipc.c
Due: clang-tidy-c23

Complete PDAC Phase 3 Core Implementation (Tasks 3.1-3.5)
  docs/PDAC_PHASE3_PLAN.md
  include/lcg.h
  include/sched_admission.h
  include/sched_beatty.h
  include/sched_hybrid.h
  include/sched_lottery.h
  kernel/lcg.c
  kernel/sched_admission.c
  kernel/sched_beatty.c
  kernel/sched_hybrid.c
  kernel/sched_lottery.c
Due: clang-tidy-c23

Complete PDAC Phase 3: Testing & Documentation (Tasks 3.6-3.7)
  docs/SCHEDULER_ARCHITECTURE.md
  kernel/test_scheduler.c
Due: clang-tidy-c23

PDAC Phase 4 Core: Execution Model & Multi-Core (Tasks 4.0-4.2)
  docs/PDAC_PHASE4_PLAN.md
  include/percpu_sched.h
  include/task_exec.h
  kernel/percpu_sched.c
  kernel/task_exec.c
Due: clang-tidy-c23

PDAC Phase 4: Telemetry & DAG Executor (Tasks 4.3-4.4)
  include/dag_executor.h
  include/sched_telemetry.h
  kernel/dag_executor.c
  kernel/sched_telemetry.c
Due: clang-tidy-c23

PDAC Phase 4 Complete: Final Summary & Documentation
  docs/PDAC_PROJECT_SUMMARY.md
Due: none

PDAC Phase 5.1: Lock-Free Data Structures (Tasks 5.1.1-5.1.4)
  Makefile
  docs/PDAC_PHASE5_PLAN.md
  include/lockfree.h
  kernel/lockfree.c
  kernel/test_lockfree.c
Due: clang-tidy-c23

PDAC Phase 5.2: RCU (Read-Copy-Update) Framework (Tasks 5.2.1-5.2.3, 5.2.5)
  Makefile
  include/rcu_pdac.h
  kernel/rcu_pdac.c
  kernel/test_rcu.c
Due: clang-tidy-c23

PDAC Phase 5.3: Chase-Lev Work-Stealing Scheduler (Tasks 5.3.1-5.3.3, 5.3.5)
  Makefile
  include/work_stealing.h
  kernel/test_work_stealing.c
  kernel/work_stealing.c
Due: clang-tidy-c23

PDAC Phase 5: Examples, Integration Tests & Documentation (Tasks 5.6-5.8)
  Makefile
  doc/PHASE5_LOCKFREE_ARCHITECTURE.md
  kernel/example_phase5_advanced.c
  kernel/test_integration_phase5.c
Due: clang-tidy-c23

PDAC Phase 5.2.4: Refactor DAG operations to use RCU
  include/dag_executor.h
  include/dag_pdac.h
  kernel/dag_executor.c
  kernel/dag_pdac.c
Due: clang-tidy-c23

PDAC Phase 5.3.4: Integrate Work-Stealing with DAG Executor
  include/dag_executor.h
  kernel/dag_executor.c
  kernel/example_dag_workstealing.c
Due: clang-tidy-c23

PDAC Phase 5.4: NUMA-Aware Scheduling (Tasks 5.4.1-5.4.4)
  include/dag_executor.h
  include/numa_alloc.h
  include/numa_topology.h
  kernel/dag_executor.c
  kernel/numa_alloc.c
  kernel/numa_topology.c
Due: clang-tidy-c23

PDAC Phase 5 COMPLETION: Tests, Architecture & Future Roadmap (Tasks 5.4.5 + 5.5.1-5.5.4)
  doc/PHASE5_SYSTEM_REFACTORING.md
  kernel/test_numa.c
Due: clang-tidy-c23

Phase 6: Sleeplock Modernization - DAG Lock Ordering Integration
  kernel/defs.h
  kernel/fs/bio.c
  kernel/fs/fs.c
  kernel/ipc/exo_disk.c
  kernel/sync/sleeplock.c
  kernel/sys/sysproc.c
  kernel/test_sleeplock.c
Due: clang-tidy-c23

Phase 7: Lock Migration Status - Filesystem Locks Complete
  LOCK_MIGRATION_INVENTORY.txt
  docs/PHASE7_LOCK_MIGRATION_STATUS.md
Due: none

SESSION SUMMARY: Phases 5-7 Complete - Lock-Free Revolution
  docs/SESSION_SUMMARY_2025-11-19.md
Due: none

Task 5.5.1: Lock-Free Capability System Implementation
  include/capability_lockfree.h
  kernel/capability_lockfree.c
  kernel/test_capability_lockfree.c
Due: clang-tidy-c23

Task 5.5.2: Lock-Free RCU Scheduler (Header) - Work in Progress
  include/scheduler_lockfree.h
Due: clang-tidy-c23

Task 5.5.2: Lock-Free RCU Scheduler - Complete Implementation
  kernel/scheduler_lockfree.c
  kernel/test_scheduler_lockfree.c
Due: clang-tidy-c23

FINAL SESSION SUMMARY: Complete Lock-Free Revolution
  docs/FINAL_SESSION_SUMMARY_2025-11-19.md
Due: none

Phase A Complete: Fast-Path Optimizations (Task 5.5.3)
  docs/NEXT_PHASE_EXECUTION_PLAN.md
  include/capability_optimized.h
  include/scheduler_optimized.h
  kernel/test_optimized.c
Due: clang-tidy-c23

Phase B Complete: Critical Path Optimization (Task 5.5.3)
  include/capability_cache.h
  include/capability_simd.h
  kernel/capability_cache.c
  kernel/capability_simd.c
  kernel/test_cache_simd.c
Due: clang-tidy-c23

Phase C Complete: Integration & Validation (Task 5.5.3)
  kernel/test_integration.c
Due: clang-tidy-c23

Phase D Complete: Comprehensive Documentation (Task 5.5.3)
  docs/OPTIMIZATION_GUIDE.md
  docs/SESSION_SUMMARY_PHASE_ABC_2025-11-19.md
Due: none

Task 5.5.4 Phases 1-2: Adaptive Cache & SIMD (In Progress)
  docs/NEXT_PHASE_SCOPE_TASK_554.md
  include/capability_cache_adaptive.h
  include/capability_simd_adaptive.h
  kernel/capability_cache_adaptive.c
  kernel/capability_simd_adaptive.c
Due: clang-tidy-c23
