Repository Oichkatzelesfrettschen/exov6: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy-c23, clang-tidy-cpp23, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.0
    hooks:
      - id: clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-tidy
    rev: v16.0.0
    hooks:
      - id: clang-tidy
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: clang-tidy-c23
        name: clang-tidy (C23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy
        language: system
        pass_filenames: true
        files: \.(c|h)$
      - id: clang-tidy-cpp23
        name: clang-tidy (C++23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy-cpp23
        language: system
        pass_filenames: true
        files: \.(cpp|cxx|cc|c\+\+|hpp|hxx|hh)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
      - id: black
        name: black
        entry: black --check --diff
        language: python
        additional_dependencies: [black==25.1.0]
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer

Update Dockerfile
  Dockerfile
Due: none

Update scripts/docker-build.sh
  scripts/docker-build.sh
Due: none

Update .github/workflows/container_ci.yml
  .github/workflows/container_ci.yml
Due: none

Update docs/CONTAINER_QUICK_START.md
  docs/CONTAINER_QUICK_START.md
Due: none

Update .dockerignore
  .dockerignore
Due: none

Implement optimized Docker build container for kernel development (#710)
  .dockerignore
  .github/workflows/container_ci.yml
  CONTAINER_IMPLEMENTATION_SUMMARY.md
  Dockerfile
  README.md
  docker-compose.yml
  docker-requirements.txt
  docs/CONTAINER_BUILD.md
  docs/CONTAINER_OPTIMIZATION_REPORT.md
  docs/CONTAINER_QUICK_START.md
  scripts/docker-build.sh
Due: none

Refine README based on codebase analysis (#711)
  README.md
  README.old.md
Due: none

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

Build system modernization with comprehensive tooling, supply chain security: static analysis, formal verification, dynamic profiling, and 39+ verified tools (#712)
  .clang-tidy
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/codeql.yml
  CMakeLists.txt
  QUICKSTART_BUILD.md
  TOOL_QUICK_REFERENCE.md
  cmake/AdvancedAnalysis.cmake
  cmake/CCache.cmake
  cmake/CodeCoverage.cmake
  cmake/DynamicAnalysis.cmake
  cmake/FeuerBirdConfig.cmake
  cmake/FormalVerification.cmake
  cmake/StaticAnalysis.cmake
  docs/BUILD_MODERNIZATION_SUMMARY.md
  docs/BUILD_SYSTEM_GUIDE.md
  docs/DEEP_ANALYSIS_TOOLING.md
  docs/DEVCONTAINER_SECURITY.md
  docs/PHASE2_SUMMARY.md
  docs/PHASE3_SUMMARY.md
  docs/TECHNICAL_DEBT_ANALYSIS.md
  docs/TOOLING_REFERENCE.md
Due: none

refactor(build): Harmonize phoenix->feuerbird naming, add Conan 2 support
  .gitignore
  archive/experimental/README.md
  archive/experimental/ipc/quantum_ipc.h
  archive/experimental/ipc/unified_channel.c
  archive/experimental/ipc/unified_ipc.c
  archive/experimental/ipc/zero_copy.c
  archive/experimental/sync/genetic_lock_evolution.c
  archive/experimental/sync/genetic_lock_evolution.h
  archive/experimental/sync/quantum_lock.c
  archive/experimental/sync/quantum_lock.h
  archive/experimental/sync/ultimate_lock_integration.c
  archive/experimental/sync/ultimate_lock_synthesis.h
  archive/experimental/sync/unified_lock.c
  archive/experimental/sync/unified_lock.h
  cmake/FeuerBirdConfig.cmake
  conanfile.py
  demos/kernel/CMakeLists.txt
  docs/NAMING_CONVENTIONS.md
  docs/QEMU_BOOT_STATUS.md
  kernel/CMakeLists.txt
  profiles/aarch64-freestanding
  profiles/default
  profiles/x86_64-freestanding
Due: clang-tidy-c23, black

feat(kernel): Add multiboot2 boot infrastructure and project CLAUDE.md
  CLAUDE.md
  docs/QEMU_BOOT_STATUS.md
  kernel/CMakeLists.txt
  kernel/defs.h
  kernel/errno.h
  kernel/exokernel.h
  kernel/femtokernel.c
  kernel/femtokernel.h
  kernel/lambda_cap.c
  kernel/mmu.h
  kernel/zone.h
  src/arch/x64/multiboot2.S
Due: clang-tidy-c23

feat(build): Phase 4B-Pre - Implement compiler warning suppressions
  .claude/settings.local.json
  .github/workflows/feuerbird_ci.yml
  CMakeLists.txt
  cmake/CompilerWarnings.cmake
  docs/DEEP_ANALYSIS_TOOLING.md
  docs/FORMAL_VERIFICATION_STATUS.md
  docs/PHASE2_SUMMARY.md
  docs/QEMU_BOOT_STATUS.md
  docs/REPOSITORY_ORGANIZATION.md
  formal/coq/.lia.cache
  formal/coq/ExoCap.v
  formal/coq/IRQProof.v
  formal/coq/LambdaCap.v
  formal/coq/StreamsProof.v
  include/q16_octonion.h
  kernel/CMakeLists.txt
  kernel/boot/main64.c
  kernel/kernel.ld
  kernel/lambda_cap.c
  src/arch/x64/multiboot2.S
Due: clang-tidy-c23

feat(kernel): Phase 4B integration - capability system and zone isolation groundwork
  include/cap.h
  kernel/CMakeLists.txt
  kernel/defs.h
  kernel/kernel_core_stubs.c
  kernel/sys/syscall.c
  kernel/zone.c
  kernel/zone_isolation.c
  kernel/zone_isolation.h
Due: clang-tidy-c23

docs(Phase 4C): Complete documentation for lambda_cap, Conan, and testing strategy
  docs/CONAN_USAGE.md
  docs/LAMBDA_CAP_GUIDE.md
  docs/README.md
  docs/TESTING_STRATEGY.md
  docs/analysis/LOCK_MATHEMATICAL_ANALYSIS 2.md
  docs/architecture/THREE_ZONE_HARMONY 2.md
  docs/architecture/UNIFIED_ARCHITECTURE_SYNTHESIS 2.md
  docs/design/EXOKERNEL_SYNTHESIS_2024 2.md
  docs/design/GRAND_SYNTHESIS 2.md
  docs/planning/C17_POSIX2024_UNIFIED_PLAN 2.md
  docs/planning/COMPLETE_UNIX_POSIX_IMPLEMENTATION_PLAN 2.md
  docs/planning/PROJECT_SYNTHESIS_MASTER_PLAN 2.md
  docs/planning/ROADMAP_2025 2.md
  docs/setup/setup 2.md
  docs/sync/ULTIMATE_LOCK_SYNTHESIS_COMPLETE 2.md
Due: none

feat(phase4d): Complete static analysis integration and Phase 5 roadmap planning
  .clang-tidy
  .github/workflows/feuerbird_ci.yml
  baselines/baseline_metrics.json
  cmake/RunClangTidy.cmake
  cmake/RunClangTidyCI.cmake
  cmake/StaticAnalysis.cmake
  docs/PHASE5_ROADMAP.md
  docs/README.md
Due: none

docs(phase4): Add final completion report and documentation summary
  docs/PHASE4_COMPLETION_PLAN.md
  docs/PHASE4_FINAL_REPORT.md
Due: none
