Repository Oichkatzelesfrettschen/exov6: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy-c23, clang-tidy-cpp23, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.0
    hooks:
      - id: clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-tidy
    rev: v16.0.0
    hooks:
      - id: clang-tidy
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: clang-tidy-c23
        name: clang-tidy (C23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy
        language: system
        pass_filenames: true
        files: \.(c|h)$
      - id: clang-tidy-cpp23
        name: clang-tidy (C++23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy-cpp23
        language: system
        pass_filenames: true
        files: \.(cpp|cxx|cc|c\+\+|hpp|hxx|hh)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
      - id: black
        name: black
        entry: black --check --diff
        language: python
        additional_dependencies: [black==25.1.0]
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer

Add lattice DAG tests and IPC benchmark
  setup.sh
  tests/benchmarks.bats
  tests/microbench/Makefile
  tests/microbench/lattice_pipe_bench.c
  tests/microbench/meson.build
  tests/test_lattice_dag.py
Due: clang-tidy-c23, black

add deeper analysis tooling
  docs/architecture_design_implementation.md
  docs/code_metrics_cloc.txt
  docs/code_metrics_lizard.txt
  include/defs.h
  kernel/cap.h
  kernel/defs.h
  setup.sh
Due: clang-tidy-c23

fix Makefile paths
  .gitignore
  Makefile
  config/drivers.conf
  config/temporary.cfg
  docs/organization_plan.md
  tools/file_count.js
  tools/file_organizer.py
Due: black

fix exit prototype
  docs/sphinx/source/build_flags.rst
  docs/sphinx/source/index.rst
  include/lattice_types.h
  include/octonion.h
  kernel/defs.h
  kernel/spinlock.c
  kernel/spinlock.h
  kernel/x86.h
  tests/test_octonion.py
  types.h
Due: clang-tidy-c23, black

Update .gitignore
  .gitignore
Due: none

fix build issues
  include/stdint.h
  kernel/bootmain.c
Due: clang-tidy-c23

fix build flags and resolve partial conflicts
  CMakeLists.txt
  include/mmu.h
  include/sched.h
  kernel/capnp_helpers.c
  kernel/initcode.S
  tests/microbench/Makefile
  tests/test_arbitrate.py
  tests/test_cap_newtypes.py
  tests/test_cap_revoke.py
  tests/test_cap_types.py
  tests/test_chan_endpoint.py
  tests/test_door.py
  tests/test_exo_ipc_direct.py
  tests/test_exo_recv_timed.py
  tests/test_iommu.py
  tests/test_irq.py
  tests/test_lattice_channel_dag.py
  tests/test_lattice_ipc.py
  tests/test_libos_env.py
  tests/test_locks.py
  tests/test_lockstress.py
  tests/test_mailbox_isolation.py
  tests/test_octonion.py
  tests/test_posix_apis.py
  tests/test_posix_compat.py
  tests/test_ptrace_concurrent.py
  tests/test_spinlock_align.py
  tests/test_sys_ipc.py
  tests/test_ticket_spinlock_processes.py
  tests/test_ticket_spinlock_threads.py
  tests/test_uv_spinlock_processes.py
  tests/test_uv_spinlock_threads.py
  tests/test_zone.py
Due: clang-tidy-c23, black

chore: migrate tests to c2x and resolve merge
  Makefile
  kernel/bootmain.c
  setup_script.log
  setup_script_failures.log
  tests/microbench/Makefile
  tests/test_arbitrate.py
  tests/test_cap_newtypes.py
  tests/test_cap_revoke.py
  tests/test_cap_types.py
  tests/test_chan_endpoint.py
  tests/test_door.py
  tests/test_exo_ipc_direct.py
  tests/test_exo_recv_timed.py
  tests/test_iommu.py
  tests/test_irq.py
  tests/test_lattice_channel_dag.py
  tests/test_lattice_ipc.py
  tests/test_libos_env.py
  tests/test_locks.py
  tests/test_lockstress.py
  tests/test_mailbox_isolation.py
  tests/test_octonion.py
  tests/test_posix_apis.py
  tests/test_posix_compat.py
  tests/test_ptrace_concurrent.py
  tests/test_spinlock_align.py
  tests/test_sys_ipc.py
  tests/test_ticket_spinlock_processes.py
  tests/test_ticket_spinlock_threads.py
  tests/test_uv_spinlock_processes.py
  tests/test_uv_spinlock_threads.py
  tests/test_zone.py
Due: clang-tidy-c23, black

Add unified build helper script
  README
  scripts/build.py
  tests/test_build_script.py
Due: black

document tooling setup
  docs/tools_usage.md
Due: none

Clean header conflicts and adopt C23 build
  libos/file.h
  libos/libfs.h
  meson.build
Due: clang-tidy-c23

Declare user-space library and syscall prototypes
  engine/kernel/spinlock.h
  include/caplib.h
  include/user.h
  kernel/lattice_ipc.c
  libos/ulib.h
  src/arch/CMakeLists.txt
  user/CMakeLists.txt
  user/caplib.c
Due: clang-tidy-c23

Add POSIX builtins
  user/alias.c
  user/bg.c
  user/eval.c
  user/exec.c
  user/exit.c
  user/export.c
  user/fg.c
  user/jobs.c
Due: clang-tidy-c23

Pure C17 modernization: Complete atomic operations and threading foundation
  C17_POSIX2024_UNIFIED_PLAN.md
  CMakeLists.txt
  COMPLETE_UNIX_POSIX_IMPLEMENTATION_PLAN.md
  README.md
  include/stdatomic.h
  include/threads.h
  kernel/sync/spinlock_c17.c
  src/libc/atomics/refcount.c
  src/libc/string/memcpy.c
Due: clang-tidy-c23

Unified exokernel architecture: HAL, capabilities, IPC, and three-zone harmony
  THREE_ZONE_HARMONY.md
  include/hal/hal.h
  kernel/capability/capability_lattice.c
  kernel/ipc/unified_ipc.c
  src/hal/x86_64/cpu.c
Due: clang-tidy-c23

Clean up stash conflicts and finalize repository state
  bootblock
Due: none

Fix libos CMake paths for proper source file locations
  libos/CMakeLists.txt
Due: none

feat: Unified kernel architecture - THE ONE kernel
  engine/kernel/arbitrate.c
  engine/kernel/bootasm.S
  engine/kernel/buf.h
  engine/kernel/sleeplock.h
  engine/kernel/spinlock.h
  engine/kernel/user.h
  engine/stat.h
  engine/user/demos-tests/README-wumpus.md
  engine/user/demos-tests/affine_channel_demo.c
  engine/user/demos-tests/beatty_dag_demo.c
  engine/user/demos-tests/beatty_demo.c
  engine/user/demos-tests/chan_beatty_rcrs_demo.c
  engine/user/demos-tests/chan_dag_supervisor_demo.c
  engine/user/demos-tests/dag_demo.c
  engine/user/demos-tests/ddekit_port_demo.c
  engine/user/demos-tests/exo_stream_demo.c
  engine/user/demos-tests/fbdev_demo.c
  engine/user/demos-tests/hello_channel.c
  engine/user/demos-tests/libos_posix_extra_test.c
  engine/user/demos-tests/msgqueue_demo.c
  engine/user/demos-tests/posix_cwd_test.c
  engine/user/demos-tests/posix_misc_test.c
  engine/user/demos-tests/posix_socket_test.c
  engine/user/demos-tests/qspin_demo.c
  engine/user/demos-tests/test_posix_extra.py
  engine/user/demos-tests/typed_chan_demo.c
  engine/user/demos-tests/typed_chan_recv.c
  engine/user/demos-tests/typed_chan_send.c
  engine/user/demos-tests/wumpus.c
  include/exo.h
  kernel/CMakeLists.txt
  kernel/README.md
  kernel/arbitrate.c
  kernel/boot/bootblock.asm
  kernel/tests/minimal_boot.S
  kernel/tests/minimal_test.c
  kernel/tests/test_bootasm.S
  kernel/tests/test_spinlock.h
  minimal_kernel/CMakeLists.txt
  scripts/unify_kernel.sh
Due: clang-tidy-c23, black

feat: Complete repository unification and C17 test conversion
  scripts/convert_tests_to_c17.py
  tests/c17/integration/Makefile
  tests/c17/performance/Makefile
  tests/c17/posix/Makefile
Due: black

feat: Pure CMake build system for C17 tests - NO Python dependencies
  tests/CMakeLists.txt
  tests/c17/CMakeLists.txt
  tests/c17/integration/CMakeLists.txt
  tests/c17/integration/Makefile
  tests/c17/performance/CMakeLists.txt
  tests/c17/performance/Makefile
  tests/c17/posix/CMakeLists.txt
  tests/c17/posix/Makefile
  tests/c17/test_framework.c
  tests/c17/test_framework.h
  tests/c17/unit/CMakeLists.txt
  tests/c17/unit/Makefile
Due: clang-tidy-c23

Add modular Aether neural network library
  docs/aether_nn.md
  include/aether_nn.h
  libos/CMakeLists.txt
  libos/aether_nn.c
  tests/c17/unit/CMakeLists.txt
  tests/c17/unit/test_aether_nn.c
Due: clang-tidy-c23

Fix tensor copy bounds and softmax checks; add optimizer tests
  libos/aether_nn.c
  tests/c17/unit/test_aether_nn.c
Due: clang-tidy-c23

Modernize ExoV6 exokernel for i386/x86_64 QEMU with comprehensive research-driven improvements
  MODERNIZATION_ROADMAP.md
  include/memlayout.h
  include/user_minimal.h
  kernel/exo_impl.c
  kernel/swtch.S
  kernel/zone_isolation.c
  kernel/zone_isolation.h
  user/usertests.c
Due: clang-tidy-c23

Continue x86_64 ELF64 kernel modernization: Enhanced build system and fixed critical errors
  BUILD_STATUS_x86_64.md
  build-x86_64/CMakeCache.txt
  build-x86_64/CMakeFiles/CMakeConfigureLog.yaml
  build-x86_64/CMakeFiles/CMakeDirectoryInformation.cmake
  build-x86_64/CMakeFiles/CMakeRuleHashes.txt
  build-x86_64/CMakeFiles/Makefile.cmake
  build-x86_64/CMakeFiles/Makefile2
  build-x86_64/CMakeFiles/Progress/count.txt
  build-x86_64/CMakeFiles/TargetDirectories.txt
  build-x86_64/CMakeFiles/cmake.check_cache
  build-x86_64/CMakeFiles/progress.marks
  build-x86_64/Makefile
  build-x86_64/cmake_install.cmake
  include/cap.h
  include/syscall.h
  include/syscall.h.old
  kernel/CMakeLists.txt
  kernel/errno.h
  kernel/syscall.h.kernel_copy
Due: clang-tidy-c23

Fix kernel build issues: Header conflicts, log variable naming, assembly exclusions
  kernel/CMakeLists.txt
  kernel/ddekit.h.bak
  kernel/exokernel.h.bak
  kernel/fs/log.c
Due: clang-tidy-c23

Add comprehensive Session 3 progress report - 85% toward x86_64 ELF64 kernel
  BUILD_PROGRESS_SESSION3.md
Due: none

Lock modernization: Novel synthesis design for ExoV6
  docs/LOCK_MODERNIZATION_DESIGN.md
  docs/LOCK_MODERNIZATION_SUMMARY.md
  include/exo_lock.h
  kernel/caplib.h.bak
  kernel/drivers/driver.c
  kernel/sync/qspinlock.c
  kernel/sync/spinlock.c
Due: clang-tidy-c23

Lock implementation Phase 1 started: NUMA topology detection
  docs/LOCK_IMPLEMENTATION_ROADMAP.md
  include/exo_lock.h
  kernel/sync/qspinlock.c
Due: clang-tidy-c23

Phase 1 execution plan: Granular roadmap for qspinlock completion
  docs/PHASE1_EXECUTION_PLAN.md
Due: none

Step 1.1.2 complete: Hierarchical NUMA-aware MCS queue
  include/exo_lock.h
  kernel/sync/qspinlock.c
Due: clang-tidy-c23

Step 1.1.3 complete: Performance instrumentation
  include/exo_lock.h
  kernel/sync/qspinlock.c
Due: clang-tidy-c23

Lock fast path optimization: Branch hints and forced inlining
  include/compiler_attrs.h
  kernel/sync/qspinlock.c
Due: clang-tidy-c23

Build system integration: Add qspinlock to kernel build
  include/spinlock.h
  kernel/CMakeLists.txt
  kernel/sync/qspinlock.c
Due: clang-tidy-c23

QSpinlock testing suite: Unit tests and microbenchmarks
  kernel/sync/Makefile
  kernel/sync/bench_qspinlock.c
  kernel/sync/test_qspinlock.c
Due: clang-tidy-c23

Phase 1 Completion Report: NUMA-aware qspinlock foundation complete
  docs/PHASE1_COMPLETION_REPORT.md
Due: none

Add qspinlock test binaries to .gitignore
  .gitignore
Due: none
