Repository Oichkatzelesfrettschen/exov6: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy-c23, clang-tidy-cpp23, black

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.0
    hooks:
      - id: clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-tidy
    rev: v16.0.0
    hooks:
      - id: clang-tidy
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: local
    hooks:
      - id: clang-tidy-c23
        name: clang-tidy (C23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy
        language: system
        pass_filenames: true
        files: \.(c|h)$
      - id: clang-tidy-cpp23
        name: clang-tidy (C++23)
        entry: scripts/run-clang-tidy.sh --config-file=.clang-tidy-cpp23
        language: system
        pass_filenames: true
        files: \.(cpp|cxx|cc|c\+\+|hpp|hxx|hh)$
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
      - id: black
        name: black
        entry: black --check --diff
        language: python
        additional_dependencies: [black==25.1.0]
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer

Task 5.5.4 Complete: Self-Tuning Parameters (Phases 1-2)
  docs/TASK_554_IMPLEMENTATION_SUMMARY.md
  kernel/test_adaptive.c
Due: clang-tidy-c23

Task 5.5.4 Phase 3: Adaptive Prefetch Tuning
  include/prefetch_tuning.h
  kernel/prefetch_tuning.c
Due: clang-tidy-c23

Comprehensive Session Summary: Optimization Complete + Filesystem Scoped
  docs/COMPREHENSIVE_SESSION_SUMMARY.md
  docs/FILESYSTEM_IMPLEMENTATION_SCOPE.md
Due: none

Task 5.5.4 Complete + VFS Layer Foundation
  include/performance_monitor.h
  include/scheduler_adaptive.h
  include/vfs.h
  include/vfs_dcache.h
  include/vfs_icache.h
  kernel/performance_monitor.c
  kernel/scheduler_adaptive.c
  kernel/vfs/vfs.c
  kernel/vfs/vfs_dcache.c
  kernel/vfs/vfs_icache.c
Due: clang-tidy-c23

Complete VFS File Operations + MINIX v3 Filesystem
  include/minix3_fs.h
  include/vfs_file.h
  kernel/fs/minix3.c
  kernel/vfs/vfs_file.c
Due: clang-tidy-c23

Novel PDAC-Aware Buffer Cache: Research, Design & Core Implementation
  docs/BUFFER_CACHE_ARCHITECTURE.md
  include/buffer_cache.h
  kernel/buffer_cache.c
Due: clang-tidy-c23

Phase 5-6 Complete: Production Buffer Cache + VFS Integration
  docs/ASYNC_IO_QUEUE_DESIGN.md
  docs/BUFFER_CACHE_IMPLEMENTATION_SUMMARY.md
  include/bcache_io.h
  kernel/bcache_io.c
  kernel/buffer_cache.c
  kernel/fs/minix3.c
  kernel/test_buffer_cache_io.c
Due: clang-tidy-c23

Update kernel/sys/trap.c
  kernel/sys/trap.c
Due: clang-tidy-c23

Update kernel/exo_impl.c
  kernel/exo_impl.c
Due: clang-tidy-c23

Update kernel/sync/rcu.c
  kernel/sync/rcu.c
Due: clang-tidy-c23

Update user/rm.c
  user/rm.c
Due: clang-tidy-c23

Update user/ls.c
  user/ls.c
Due: clang-tidy-c23

Update user/ulib.c
  user/ulib.c
Due: clang-tidy-c23

Update user/mv.c
  user/mv.c
Due: clang-tidy-c23

Update src/arch/x86_64/arch_ops.c
  src/arch/x86_64/arch_ops.c
Due: clang-tidy-c23

Update tests/arch_mem/litmus.c
  tests/arch_mem/litmus.c
Due: clang-tidy-c23

Update kernel/test_ipc_torture.c
  kernel/test_ipc_torture.c
Due: clang-tidy-c23

Update kernel/ipc/unified_ipc.c
  kernel/ipc/unified_ipc.c
Due: clang-tidy-c23

Update docs/security/capability_lifecycle_spec.md
  docs/security/capability_lifecycle_spec.md
Due: none

Update tests/security/mocks/defs.h
  tests/security/mocks/defs.h
Due: clang-tidy-c23

Update docs/security/threat_model.md
  docs/security/threat_model.md
Due: none

Update docs/dev/porting.md
  docs/dev/porting.md
Due: none

Update docs/security/pqc_integration.md
  docs/security/pqc_integration.md
Due: none

Update docs/scheduling/beatty.md
  docs/scheduling/beatty.md
Due: none

Update kernel/sched_beatty.c
  kernel/sched_beatty.c
Due: clang-tidy-c23

Update tests/c17/unit/test_beatty_sim.c
  tests/c17/unit/test_beatty_sim.c
Due: clang-tidy-c23

Clean Doxygen warnings across kernel and libc
  kernel/capability/capability_lattice.c
  kernel/ipc/unified_ipc.c
  kernel/service.c
  kernel/sync/genetic_lock_evolution.c
  kernel/sync/lwkt_token.c
  kernel/sync/qspinlock.h
  kernel/sync/spinlock_c17.c
  kernel/sync/ultimate_lock_synthesis.h
  kernel/sync/zerocopy_cow_dag.h
  kernel/sys/string.c
  src/libc/atomics/refcount.c
  src/libc/string/memcpy.c
Due: clang-tidy-c23

Add x86_64 CI pipeline and Docker build environment
  .github/workflows/exov6-x86_64-ubuntu24.yml
  Dockerfile
  docker-compose.yml
Due: none

Unify documentation pipeline outputs and tooling
  AGENTS.md
  CLAUDE.md
  CODEX.md
  CONTRIBUTING.md
  GEMINI.md
  docs/README.md
  docs/requirements-docs.txt
  docs/unified/INDEX.md
  docs/unified/analyses_and_audits.md
  docs/unified/architecture_and_implementation.md
  docs/unified/canonical_topics.md
  docs/unified/chronological.md
  docs/unified/general_and_misc.md
  docs/unified/insights.md
  docs/unified/legacy_archive.md
  docs/unified/roadmaps_and_plans.md
  docs/unified/standards_and_compliance.md
  docs/unified/temporal_sessions.md
  docs/unified/topic_overlaps.md
  kernel/core/secure_multiplex.c
  scripts/validate_documentation_links.sh
  tools/__init__.py
  tools/docs_pipeline/__init__.py
  tools/docs_pipeline/models.py
  tools/docs_pipeline/utils.py
  tools/run_docs_pipeline.py
Due: clang-tidy-c23, black

Harmonize kernel subsystems and fix build compatibility
  docs/Doxyfile
  include/cap_formula.h
  kernel/CMakeLists.txt
  kernel/cap_formula.c
  kernel/cap_ipc.c
  src/ddekit/printf.h
Due: clang-tidy-c23
